.container {
  max-width: 1024px;
  margin: 2em auto;
}

table {
  table-layout: auto;
  width: 100%;
}

tr {
  text-align: center;
}

tr.hover-effect:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

td.status.available {
  color: green;
}

/* set the text color to red for all other status values */
td.status:not(.available) {
  color: black;
}



